
form #inputs-container {
    margin-top: -10px;
    width: 97%;
}

form #inputs-container .input-container {
    margin-bottom: 5px;
}

form #inputs-container label {
    float: left;
}

form #inputs-container button,
form #inputs-container input,
form #inputs-container select {
    float: right;
    width: 50%;
}

form #inputs-container select[multiple] {
    width: auto;
}

form #inputs-container input.pull-left,
form #inputs-container button.pull-left {
    width: 40%;
    margin-bottom: 5px;
    background-color: #F85346;
    border: 1px solid #F85346;
}

form #inputs-container button.pull-left:hover,
form #inputs-container button.pull-left:focus,
form #inputs-container input.pull-left:hover,
form #inputs-container input.pull-left:focus {
    color: #F85346;
    background-color: white;
}


form #inputs-container input.pull-right {
    width: 20%;
}

form .image-container {
    margin-bottom: 5px;
}

form .image-container #dropfile {
    width: 110px;
    border: 2px dashed #e3e3e3;
    line-height: 15px;
    font-size: 0.85em;
    text-align: center;
    float: right;
    height: 100px;
    margin-top: -10px;
    background-color: white;
}

form .image-container #dropfile img {
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-height: 100%;
    max-width: 100%;
    float: none;
    border-radius: 0;
}

form .image-container #dropfile img.illustration {
    margin-top: 8px;    
}


form #actions-container {
    text-align: center;
    margin-top: -5px;
}

form #actions-container.edit-profile-action {
    text-align: center;
    margin-top: 15px;
}

form #actions-container input {
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    width: 150px;
}

form .multifieldElement {
    border: 1px dashed;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form .multifieldElementContainer {
    border: 1px solid #37DCB4;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}